/* Variables pour le thème par défaut (sombre) */
:root {
  --primary-color: #7289da;
  --secondary-color: #14324F;
  --secondary-color-transition: #10263b;
  --background-color: #06121E;
  --text-color: #ffffff;
  --hover-color: #677bc4;
  --background-primary: #06121E;
  --background-secondary: #14324F;
  --text-primary: #ffffff;
  --text-secondary: #c4c4c4;
  --whidth-header: 80px;
  --whidth-chanelWorkspace: 200px;
  --whidth-userChanel: 160px;
  --whidth-friendsList: 160px;
}

/* Variables pour le thème clair */
:root.light-theme {
  --primary-color: #7289da;
  --secondary-color: #e3e5e8;
  --secondary-color-transition: #d4d7dc;
  --background-color: #ffffff;
  --text-color: #2e3338;
  --hover-color: #677bc4;
  --background-primary: #ffffff;
  --background-secondary: #f2f3f5;
  --text-primary: #2e3338;
  --text-secondary: #747f8d;
}

/* Variables pour le thème sombre (pour être explicite) */
:root.dark-theme {
  --primary-color: #7289da;
  --secondary-color: #14324F;
  --secondary-color-transition: #10263b;
  --background-color: #06121E;
  --text-color: #ffffff;
  --hover-color: #677bc4;
  --background-primary: #06121E;
  --background-secondary: #14324F;
  --text-primary: #ffffff;
  --text-secondary: #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.login {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--primary-color);
}

.register {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.btn:hover {
  background-color: var(--hover-color);
}

html, body {
  min-width: 1068px;
  min-height: 672px;
}